# Server Port
PORT = 3000

# PostgreSQL Database Connection
# postgres://USER:PASSWORD@HOST:PORT/DATABSE
# Note: Use computer name as DB_USER, DB_PASSWORD can be whatever
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cinematch

#TMDb API
# TMDB_READ_ACCESS_TOKEN is posted in Discord
TMDB_READ_ACCESS_TOKEN=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.themoviedb.org/t/p/w500